*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    margin: 0;
    color: white;
    padding: 0;
    box-sizing: border-box;
    margin: 0 auto;
    background: #262626;
}



